#intro {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: var(--bg-intro-color);
  transition: opacity 550ms ease-in-out;
}

#intro .container {
  height: calc(100vh - var(--main-diff) * 2);
}

#intro .about {
  position: absolute;
  right: 0;
}

#intro #page-index {
  position: absolute;
  font-size: var(--font-h4-size);
  bottom: 0;
}

#intro .language {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* next button */
#intro #nextButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background: transparent;
  color: var(--white-color);
  border: var(--button-border-stroke) solid var(--white-color);
  font-size: var(--font-h2-size);
  border-radius: var(--button-border-radius);
  padding: 1rem 2rem;
  box-sizing: border-box;
}

/* TEXT */
#intro #startText {
  font-size: var(--font-h1-size);
  width: 80%;
}

#intro #explainText {
  display: none;
  font-size: var(--font-h2-size);
  width: 80%;
}

#intro #controlText {
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-h3-size);
  width: 100%;
}

#intro #controlText div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

#intro .center-intro {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.5em;
}

/* ANIMATION */


.center-intro span,
.controlText span {
  /* display: block; */
}

.center-intro>span {
  overflow: hidden;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.controlText>span,
.controlText>div>span {
  overflow: hidden;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.center-intro>span:nth-child(2),
.controlText>span:nth-child(2) {
  transition-delay: .05s;
}

.center-intro>span:nth-child(3),
.controlText>span:nth-child(3) {
  transition-delay: .1s;
}

.center-intro>span>span,
.controlText>span>span,
.controlText>div>span>span {
  position: relative;
  transform: translateY(100%);
  transition: inherit;
}

.controlText>span {
  overflow: unset;
  opacity: 0;
}

.controlText.slide-in>span {
  opacity: 1;
  transition: opacity 200ms;
}

.center-intro.slide-in>span>span,
.controlText.slide-in>span>span,
.controlText.slide-in>div>span>span {
  transform: translateY(0);
}