/* custom variables */
:root {
  /* colors */
  /* --bg-color: rgb(89, 59, 255); */
  --bg-black-color: rgba(0, 0, 0, 0.6);
  --bg-intro-color: rgba(0, 0, 0, 0.2);
  --white-color: white;
  --black-color: black;
  --gray-color: rgb(125, 125, 125);
  --blue-color: rgb(48, 57, 201);
  --light-gray-color: rgb(235, 235, 235);
  /* main padding margin */
  --main-diff: 3em;
  --menu-top: 60vh;
  --menu-bot: 40vh;
  --menu-width: 25em;
  --menu-bot-mobile: 30vh;
  --menu-nav-mobile: 5.5em;
  /* main values */
  --blur-amount: 20px;
  --shadow-color: rgba(25, 25, 25, 0.1);
  /* font size */
  --font-explain-size: 0.7rem;
  --font-info-size: 1rem;
  --font-h1-size: 3rem;
  --font-h2-size: 1.7rem;
  --font-h3-size: 1.2rem;
  --font-h4-size: 0.8rem;
  /*button border */
  --button-border-radius: 80px;
  --button-border-stroke: 2px;
}


/* remove defaults */
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  /* font-family: "Space Grotesk Regular", sans-serif; */
  font-family: sans-serif;
  outline: none;
  color: var(--white-color);
  position: relative;
  font-weight: 400;
  user-select: none;
}

h4 {
  font-size: var(--font-h4-size);
}

/* font style */
strong {
  color: var(--black-color);
}

#main {
  filter: blur(var(--blur-amount));
  transform: scale(1.4, 1.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
}

/* container */
.container {
  position: relative;
  margin: var(--main-diff);
}

/* navigation */
.nav {
  height: calc(100vh - var(--main-diff) * 2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  right: 0;
}

/* PLAY STOP BUTTONS */
.play-button {
  display: none;
}

.stop-button {
  display: block;
}

/* controls */
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls>button {
  margin: 1em 0em;
}

/* menu */
/* menu top */
/* menu outer */
.menu-outer-top {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--menu-top);
  width: var(--menu-width);
  background: var(--white-color);
  z-index: 2;
}

.menu-outer-top .container {
  height: calc(var(--menu-top) - var(--main-diff));
  margin-bottom: 0;
  margin-right: 0;
}

/* menu inside */
.menu-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* menu top */
.menu-top-control li,
a {
  list-style: none;
  cursor: pointer;
}

/* set the style of the menu top */
.menu-top-control ul li:not(:first-child) {
  font-size: 0.9rem;
  margin: 0.5em 0;
}

/* account for padding when hovered */
.colorSwitch ul li:not(:first-child) {
  margin-left: -0.5em;
}

.menu-top-control ul li:last-child {
  margin-bottom: 2em;
}

.menu-top-control ul li:first-child {
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.menu-top-control ul li:first-child a * {
  color: var(--gray-color);
}

.menu-top-control ul a * {
  color: var(--gray-color);
}

.menu-top-control {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
}

.colorSwitch,
.saveSwitch {
  display: flex;
  align-items: flex-start;
}

.icon-color,
.icon-save {
  margin-right: 1em;
}

.icon-swell {
  opacity: 0.5;
}

/* logo */
.logo {
  width: 10em;
}

/*  */
/* menu bot */
/* menu outer bot */
.menu-outer-bot {
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--menu-bot);
  width: var(--menu-width);
  background: var(--black-color);
}

.menu-outer-bot .container {
  height: calc(var(--menu-bot));
  margin-top: 0;
  margin-bottom: 0;
}

/* menu bot */
.menu-bot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* font styling */
.menu-bot>* {
  color: var(--white-color);
}

/* data values */
.data-title {
  font-size: 0.9rem;
  font-weight: 100;
}

.data-value {
  font-size: 1.8rem;
  font-weight: 100;
}

/* menu bot-top */
.menu-bot-top {
  border-bottom: 1px solid var(--gray-color);
  height: 50%;
  display: flex;
}

/* menu bot bot */
.menu-bot-bot {
  height: calc(50% - var(--main-diff));
  display: flex;
}

/* data */
.data-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.data-time,
.data-swell {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.data-swell {
  border-left: 1px solid var(--gray-color);
  padding-left: 2em;
}

/* Icons */
/*  */
/*  */
.align-icon {
  display: flex;
  align-items: center;
}

.pushTop {
  margin-top: 0.5em;
}

.icon-edit,
.icon-swell {
  margin-left: 1em;
}

.icon-edit img {
  width: 40px;
  height: 40px;
}

.edit-grfc {
  opacity: 0;
}

.edit-bg {
  position: absolute;
  opacity: 1;
}

button {
  display: flex;
  cursor: pointer;
  background: none;
  border: none;
}

/*  */
.btn-clr {
  padding: 0.2rem;
  border-radius: 100%;
  box-sizing: border-box;
}

/*  */

.btn-clr:hover {
  border: 2px solid var(--gray-color);
}

.btn-clr-active {
  border: 2px solid var(--gray-color);
}

.btn-clr-passive {
  border: 2px solid var(--white-color);
}

.pushRight {
  margin-left: 2em;
}

.showColor>* {
  display: flex;
}

.showSave,
.showColor {
  display: none;
}

/* LANGUAGES */
.language-active {
  opacity: 1;
}

.language-passive {
  opacity: 0.5;
}

.language-hide {
  display: none;
}

.language-show {
  display: inherit;
}

/* CANVAS */
.show-canvas {
  width: 800px;
  height: 500px;
  text-align: center;
  background: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  z-index: -10;
}

.scaleable-wrapper {
  /* resize: both; */
  position: fixed;
  /* MOBILE */
  /* overflow-x: visible;
  overflow-y: hidden; */
  background: #666;
  height: 100%;
  width: 100%;
  z-index: -10;
}

/* LOADING */
#loading {
  font-size: 6em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
}

#loading * {
  color: var(--black-color);
}

.loadingPoint:nth-child(2) {
  animation: loading-animation 1s infinite;
}

.loadingPoint:nth-child(3) {
  animation: loading-animation 1.2s infinite;
}

.loadingPoint:nth-child(4) {
  animation: loading-animation 1.4s infinite;
}

@keyframes loading-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*  */
.hide-desktop {
  display: none;
}