/* MOBILE */
@media only screen and (max-width: 600px) {

  /* MENU */
  .menu-outer-top {
    transition: top 250ms ease-in-out;
  }

  .menu-outer-bot,
  #expand-mobile {
    transition: all 250ms ease-out;
  }

  .mobile-menu.about {
    transition: margin-left 350ms ease-out;
  }

  .language {
    transition: margin-right 350ms ease-out;
  }

  .mobile-anim-left {
    transition: margin-left 500ms ease-out;
  }

  .mobile-anim-left.icon-save {
    transition: margin-left 550ms ease-out;
  }

}


/* HOVER */
/* DESKTOP */
@media only screen and (min-width: 600px) {

  #intro #nextButton:hover,
  #modal-date-btn:hover {
    background-color: var(--white-color);
    color: var(--black-color);
    transition: all 200ms ease-in-out;
  }

  #intro #nextButton:hover span,
  #modal-date-btn:hover span {
    color: var(--black-color);
    transition: all 200ms ease-in-out;
  }

  /* MENU */
  .menu-top-control ul a span:hover {
    color: var(--blue-color);
  }

  .language-passive:hover {
    opacity: 1;
  }

  .nav-hover:hover {
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 2px;
  }

  .nav-hover {
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
    transition: all 200ms;
  }

  .modal-about .nav-hover:hover {
    border-bottom: 2px solid var(--black-color);
  }

  /* NAV right */
  .opc-hover {
    opacity: 0.5;
  }

  .opc-hover:hover {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  /* MENU */
  .icon-edit:hover .edit-grfc {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }

  .icon-edit:hover .edit-bg {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  .menu-outer-bot,
  .menu-outer-top {
    transition: all 250ms ease-out;
  }
}

/* ALL */
.btn-clr img {
  height: 0;
  transition: width 200ms ease-out, height 200ms ease-out;
}

/* GLOBAL */
#main {
  transition: filter 250ms ease-out, transform 450ms ease-out;
}