
@font-face {
    font-family:"Space Grotesk Regular";
    src:url("SpaceGrotesk-Regular.woff2") format("woff2"),url("SpaceGrotesk-Regular.woff") format("woff"),url("SpaceGrotesk-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        