.modal-content-date-time ul {
  position: absolute;
  top: 3em;
  left: 0;
  right: 0;
  max-height: 10em;
  width: 100%;
  background: var(--white-color);
  overflow: auto;

  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}


.modal-content-date-time ul.closed {
  display: none;
}

.modal-content-date-time ul.opened {
  display: block;
}


.modal-content-date-time ul::-webkit-scrollbar {
  width: 1em;
}

.modal-content-date-time ul::-webkit-scrollbar-thumb {
  background: var(--gray-color);
  border: 0.4em solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.modal-content-date-time ul li {
  cursor: pointer;
  line-height: 1.8;
  color: black;
  padding-left: 1em;
  margin: 0;
}

.modal-content-date-time ul li:hover {
  color: var(--light-gray-color);
}

.arrow-down {
  transform: rotate(180deg);
  transition: transform 500ms;
}

.arrow-up {
  transform: rotate(0deg);
  transition: transform 500ms;
}